flow2.txt
[{"id":"559a04e7.d0ac4c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"666d4396.47479c","type":"inject","z":"559a04e7.d0ac4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":360,"wires":[["e96d7cb1.6dc11"]]},{"id":"e96d7cb1.6dc11","type":"function","z":"559a04e7.d0ac4c","name":"payload","func":"msg.headers={\n    deviceKey: \"LmB2oSMM1a3FNa3I\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["dc9a7ca3.495d1"]]},{"id":"dc9a7ca3.495d1","type":"http request","z":"559a04e7.d0ac4c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/Df0RMCvO/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":490,"y":360,"wires":[["e99c2801.35c198","980b3bc3.5c3488"]]},{"id":"980b3bc3.5c3488","type":"debug","z":"559a04e7.d0ac4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":480,"wires":[]},{"id":"e99c2801.35c198","type":"http response","z":"559a04e7.d0ac4c","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]}]