flow1.txt
[{"id":"d2adaa6f.498c38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"559a04e7.d0ac4c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1556f0da.70cc5f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c26c5a7c.e71298","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"42604ccc.c9d454","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"284cda94.2788c6","type":"rpi-gpio in","z":"d2adaa6f.498c38","name":"button","pin":"7","intype":"up","debounce":"25","read":true,"x":140,"y":320,"wires":[["ecbbdc9e.6103a","339b4bcf.9509a4"]]},{"id":"339b4bcf.9509a4","type":"switch","z":"d2adaa6f.498c38","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":320,"wires":[["2e2edba2.296954"],["dd301fc4.3e832"]]},{"id":"2e2edba2.296954","type":"change","z":"d2adaa6f.498c38","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["36d11ad8.c99206"]]},{"id":"dd301fc4.3e832","type":"change","z":"d2adaa6f.498c38","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["36d11ad8.c99206"]]},{"id":"ecbbdc9e.6103a","type":"debug","z":"d2adaa6f.498c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":180,"wires":[]},{"id":"36d11ad8.c99206","type":"rpi-gpio out","z":"d2adaa6f.498c38","name":"led","pin":"11","set":"","level":"0","freq":"","out":"out","x":680,"y":300,"wires":[]},{"id":"666d4396.47479c","type":"inject","z":"559a04e7.d0ac4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":360,"wires":[["e96d7cb1.6dc11"]]},{"id":"e96d7cb1.6dc11","type":"function","z":"559a04e7.d0ac4c","name":"payload","func":"msg.headers={\n    deviceKey: \"LmB2oSMM1a3FNa3I\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["dc9a7ca3.495d1"]]},{"id":"dc9a7ca3.495d1","type":"http request","z":"559a04e7.d0ac4c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/Df0RMCvO/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":490,"y":360,"wires":[["e99c2801.35c198","980b3bc3.5c3488"]]},{"id":"980b3bc3.5c3488","type":"debug","z":"559a04e7.d0ac4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":480,"wires":[]},{"id":"e99c2801.35c198","type":"http response","z":"559a04e7.d0ac4c","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]},{"id":"ab1b3ccb.397e8","type":"inject","z":"1556f0da.70cc5f","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":260,"wires":[["4d286702.d83ca8"]]},{"id":"4d286702.d83ca8","type":"function","z":"1556f0da.70cc5f","name":"payload","func":"msg.headers={\n    deviceKey: \"LmB2oSMM1a3FNa3I\"\n};\nmsg.payload=\"Temperature,,28\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["81016ace.e382a8"]]},{"id":"81016ace.e382a8","type":"http request","z":"1556f0da.70cc5f","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Df0RMCvO/datapoints.csv","tls":"","proxy":"","authType":"","x":530,"y":260,"wires":[["28ed9ac5.a3cd46","cb8a880f.7c3d58"]]},{"id":"cb8a880f.7c3d58","type":"debug","z":"1556f0da.70cc5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":380,"wires":[]},{"id":"28ed9ac5.a3cd46","type":"http response","z":"1556f0da.70cc5f","name":"","statusCode":"","headers":{},"x":730,"y":280,"wires":[]}]