flow3.txt
[{"id":"1556f0da.70cc5f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ab1b3ccb.397e8","type":"inject","z":"1556f0da.70cc5f","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":260,"wires":[["4d286702.d83ca8"]]},{"id":"4d286702.d83ca8","type":"function","z":"1556f0da.70cc5f","name":"payload","func":"msg.headers={\n    deviceKey: \"LmB2oSMM1a3FNa3I\"\n};\nmsg.payload=\"Temperature,,28\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["81016ace.e382a8"]]},{"id":"81016ace.e382a8","type":"http request","z":"1556f0da.70cc5f","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Df0RMCvO/datapoints.csv","tls":"","proxy":"","authType":"","x":530,"y":260,"wires":[["28ed9ac5.a3cd46","cb8a880f.7c3d58"]]},{"id":"cb8a880f.7c3d58","type":"debug","z":"1556f0da.70cc5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":380,"wires":[]},{"id":"28ed9ac5.a3cd46","type":"http response","z":"1556f0da.70cc5f","name":"","statusCode":"","headers":{},"x":730,"y":280,"wires":[]}]